.installed.cfg
*.pyc
*~
bin/
cover/
develop-eggs/
django_trampoline.egg-info/
eggs/
logs/
node_modules/
nose_trampoline.egg-info/
parts/
skwaad/assets/
skwaad/media/
skwaad/skwaad/default.db
ve_skwaad/
